/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simple-todo-container {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  min-width: 50%;
  padding: 25px;
}

.title {
  font-family: 'Roboto';
  font-size: 40px;
  color: #ff8542;
  text-align: center;
}

.todos-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-title {
  font-family: 'Roboto';
  font-size: 15px;
  color: #000000;
}